@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1rem=16px but set 1rem=10px */
  font-size: 62.5%;
}
body {
  font-family: "DM Serif Text", serif;
  font-size: 1.6rem;
}
h1,h2 {
  font-size: 2.2rem;
}
a {
  text-decoration: none;
}
p,a,span,div {
  font-size: 1.6rem;
}
span {
  display: inline-block;
}
ul {
  margin: 0;
  list-style-type: none;
}

.container-width {
  width: 87%;
  margin: auto;
  background-color: gainsboro;
}

.navigation {
  /* background-color: red; */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-left ul {
  display: flex;
  gap: 2rem;
}
.nav-left ul li {
  padding: 1.3rem 1.6rem;
  transition: all 0.3s;
}
.nav-left ul li:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
.nav-center img {
  width: 100px;
}

.nav-right ul{
    display: flex;
    align-items: center;
}
.nav-right ul li:not(:first-child){
    padding: 1.3rem 1.6rem;
    height: 100%;
}
.nav-right ul li:hover:not(:first-child) {
  background-color: whitesmoke;
  cursor: pointer;
}
.search{
    display: flex;
    border: solid 2px blue;
    height: 40px;
    border-radius: 5px;
    overflow: hidden;
}
.search span{
    display: flex;
    align-items: center;
    padding: 0 1.3rem;
}
.search input{
    border: none;
    outline: none;
}
.hero{
  height: 650px;
  position: relative;
}
.hero img{
  width: 100%;
  height: 100%;
}
.btn-shop{
  position: absolute;
  left: 39%;
  bottom: 20%;
  display: flex;
  gap:2.5rem;
}
.btn-shop button{
  padding: 1.3rem 1.5rem;
  background-color: transparent;
  border: whitesmoke 2px solid;
  border-radius: 0.8rem;
  transition: all 0.3s;
}
.btn-shop button:hover{
  transform: translateY(-5px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
              rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  cursor:pointer;
}
.brand{
  display: flex;
}
.brand div{
  /* background-color: blue; */
  height: 180px;
  width: 20%;
}
.brand div img{
  width: 100%;
  height: 100%;
}
.slid-hero{
  height: 400px;
}
.main-items{
  background-color: red;
  margin-top: 20px;
}
.title-head{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
}
.main-cards{
  width: 100%;
  height: 500px;
  background-color: yellow;
  display: flex;
  gap: 1%;
}
.card{
  width: 100%;
  height: 100%;
  background-color: dodgerblue;
}
.img img{
  width: 100%;
  height: 100%;
}
.body-card{
  width: 100%;
  height: 30%;
  background-color: chartreuse;
  display: flex;
}
.body-card-title{
  width: 90%;
  padding: 1.3rem 1rem;
}
.icon{
  padding-top: 1.3rem;
}
.body-card-title h2 span{
  font-size: 1.8rem;
}
.body-card-title h2 span:first-child{
  color: red;
}
.body-card-title h2 span:last-child{
  text-decoration: line-through;
}
.body-card-title p{
  font-size: 1.6rem;
  margin-top: 0.4rem;
}
.dis{
  position: absolute;
  left: 2rem;
  top: 2rem;
  display: block;
  padding: .7rem 1.3rem;
  background-color: rgba(255, 36,36, 0.76);
  border-radius: 1rem;
  color: whitesmoke;
}
.colors{
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
.colors li{
  width: 2rem;
  height: 2rem;
  border: 1px solid gray;
  border-radius: 0.5rem;
}
.colors li:first-child{
  background-color: red;
}
.colors li:nth-child(2){
  background-color: blue;
}
.colors li:last-child{
  background-color: green;
}